

h1{
  font-family: 'Roboto Slab',monospace;
  font-style: italic;
  font-weight: 600;
  font-size: 100px;
  text-align: center;
  padding-top: 50px;
  text-decoration: underline;
}

h2{
  
  font-family: 'Roboto Slab',monospace;
  font-style: italic;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
}
a {
  color: black;
  font-family: 'Roboto Slab',monospace;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  display: block;
}
a:visited {
  color: black;
}
form{
  color: black;
  font-family: 'Roboto Mono',monospace;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  display: block;
  text-align: center;
  width: fit-content;
  margin: auto;
  height: fit-content;
}

label{
  margin: 0px;
  padding: 0px;
}

.userinput{
  color: black;
  font-family: 'Roboto Mono',monospace;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
}


input{
  width: 100%;
  margin-top: 20pxpx;
  padding: 0px;
}

#submit{
  color: black;
  font-family: 'Roboto Slab',monospace;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  display: block;
  width: fit-content;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  margin-top: 40px;

}

table{
  width: fit-content;
  margin: auto;
}

td{
  padding: 30px;


body{
  background-color: #ececec;
}

