body{
  background-color: #ececec;
}

h1{
  font-family: 'Roboto Slab',monospace;
  font-style: italic;
  font-weight: 600;
  font-size: 100px;
  text-align: center;
  padding-top: 50px;
  text-decoration: underline;
}

h2{
  
  font-family: 'Roboto Slab',monospace;
  font-style: italic;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
}
a {
  color: black;  font-family: 'Roboto Slab',monospace;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  display: block;
}
a:visited {
  color: black;
}


